.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #f2f2f2;
  white-space: nowrap;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  min-width: 140px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

td:nth-child(odd) {
  color: blue;
}

tr:hover {
  /* background-color: #e6f7ff; */
}

button{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
